In [1]:
import numpy as np
import pandas as pd

In [2]:
# Get data from url
csv_url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
df = pd.read_csv(csv_url)
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [3]:
# What's the version of Pandas that you installed?
# Pandas version
print(f"Q1 - Ans: {pd.__version__}")

Q1 - Ans: 2.3.2

In [4]:
# How many records are in the dataset?
# Number of records
print(f"Q2 - Ans: {len(df)}")

Q2 - Ans: 9704

In [5]:
# How many fuel types are presented in the dataset?
# Get number of Fuel Type
groupby_fueltype = df.groupby('fuel_type').size().reset_index(name="Count")
print(groupby_fueltype, "\n")

unique_values_per_col = df.nunique()
# type(unique_values_per_col)

print(f"Q3 - Ans: {unique_values_per_col.get('fuel_type')}")

  fuel_type  Count
0    Diesel   4806
1  Gasoline   4898

Q3 - Ans: 2

In [6]:
# How many columns in the dataset have missing values?
# Get missing values by columns
missing_values_per_col=df.isna().sum().reset_index(name="N_missing_values")
missing_values_col = missing_values_per_col[missing_values_per_col["N_missing_values"] > 0]
print(f"Q4 - Ans: {len(missing_values_col)}")

Q4 - Ans: 4

In [7]:
# What's the maximum fuel efficiency of cars from Asia?
# Get max fuel efficiency of cars from asia
cars_from_asia = df[df["origin"] == "Asia"] # filter by origin = 'Asia'
print(f"Q5 - Ans: {cars_from_asia['fuel_efficiency_mpg'].max()}")

Q5 - Ans: 23.759122836520497

In [8]:
# Q6: Median value of horsepower
# Find the median value of horsepower column in the dataset.
# Next, calculate the most frequent value of the same horsepower column.
# Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
# Now, calculate the median value of horsepower once again.
# Has it changed?
# Yes, it increased
# Yes, it decreased
# No

# Median value before fillna
horsepower_col = df['horsepower']
before_median = horsepower_col.median()

# most freq value in horsepower
most_freq_row= horsepower_col.value_counts().reset_index(name='count')
most_freq = most_freq_row['horsepower'][0]

# fill nan value with most frequent and find median
filled = horsepower_col.fillna(most_freq)
after_median = filled.median() # Median

print(f"Median before fillna = {before_median},\nMost freq value = {most_freq},\nMedian After fillna = {after_median}\n")


if before_median > after_median:
     print(f"Q6 - Ans: Yes, it decreased")
elif before_median < after_median:
    print(f"Q6 - Ans: Yes, it increased")
else:
    print(f"Q6 - Ans: No")

Median before fillna = 149.0,
Most freq value = 152.0,
Median After fillna = 152.0

Q6 - Ans: Yes, it increased

In [23]:
# Q7. Sum of weights
# 1.Select all the cars from Asia
# 2. Select only columns vehicle_weight and model_year
# 3. Select the first 7 values
# 4. Get the underlying NumPy array. Let's call it X.
# 5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# 6. Invert XTX.
# 7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
# 8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result? Note: You just implemented linear regression. We'll talk about it in the next lesson.
cars_from_asia.reset_index(drop=True, inplace=True)
selected_df= cars_from_asia[['vehicle_weight', 'model_year']].head(8)
X = selected_df.values
XTX = X.dot(X.T)

XTX
inverted_XTX = np.linalg.inv(XTX)
#inverted_XTX